# The `pandas` Groupby

I'm just going through the examples in the book here. Nothing groundbreaking or anything.

In [1]:
# The maths, graphs, stats and style libs

import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
from scipy import stats
import matplotlib.style as mplstyle
%matplotlib inline
mplstyle.use('fivethirtyeight')

In [4]:
df = pd.DataFrame({
    'key1': 'a a b b a'.split(),
    'key2': 'one two one two one'.split(),
    'data1': np.random.chisquare(100, 5),
    'data2': np.random.chisquare(100, 5)
})

In [5]:
df

        data1       data2 key1 key2
0   91.905041  115.711115    a  one
1   96.631898   97.546884    a  two
2   79.473106  108.652305    b  one
3  108.536986  119.776641    b  two
4  103.996539  118.514453    a  one

In [10]:
g = df['data1'].groupby(df['key1'])

In [11]:
g

In [13]:
g.mean()

key1
a    97.511159
b    94.005046
Name: data1, dtype: float64

In [14]:
g.std()

key1
a     6.093514
b    20.551267
Name: data1, dtype: float64

In [15]:
m = df['data1'].groupby([df['key1'], df['key2']])

In [18]:
m.median()

key1  key2
a     one      97.950790
      two      96.631898
b     one      79.473106
      two     108.536986
Name: data1, dtype: float64