In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import matplotlib.style as mplstyle
%matplotlib inline
mplstyle.use('fivethirtyeight')

import datetime

In [2]:
from timeseries_regression_simulation import data_generator

# First we simulate the data

**Requirements:**

I need just three columns:

- Zip codes  
- Timestamps  
- Dollars

The zip codes need to be sampled from just a few, maybe 6 different zip codes. I'd like to have a random sample of time stamps. Maybe its possible. And finally a random sample of dollar amounts.

In [3]:
dat = data_generator()
dat.n = 1000

In [4]:
df = dat.get_sample()

In [5]:
df.head()

     Zip        Date  Amount
0  90025  2017-11-01   176.0
1  90027  2017-11-09    26.0
2  90026  2017-10-29   180.0
3  90026  2017-10-24    50.0
4  90025  2017-01-21    49.0

## Then we calculate how many days ago for each record

In [6]:
def days_ago(x):
    delta = datetime.date.today() - x
    return delta.days

In [8]:
df['DaysAgo'] = df['Date'].apply(days_ago)

df.head()

     Zip        Date  Amount  DaysAgo
0  90025  2017-11-01   176.0       14
1  90027  2017-11-09    26.0        6
2  90026  2017-10-29   180.0       17
3  90026  2017-10-24    50.0       22
4  90025  2017-01-21    49.0      298

## Then we look at data from a single zip code

In [9]:
z24 = df[df['Zip'] == 90024]

In [10]:
z24.head()

      Zip        Date  Amount  DaysAgo
20  90024  2017-07-31    12.0      107
21  90024  2017-09-29   125.0       47
28  90024  2017-11-12    59.0        3
29  90024  2017-11-14   109.0        1
38  90024  2017-09-09     7.0       67

## Then we run a regression on `days ago` and `amount`