In [1]:
import pandas as pd
import numpy as np
np.set_printoptions(precision=4, suppress=True)

# Utility: `printd`

In [2]:
def printd(item):
    print(item.__doc__)

# Time Series Basics

In [3]:
from datetime import datetime

In [4]:
days = [2, 5, 7, 8, 10, 12]

In [5]:
dates = [datetime(2011, 1, d) for d in days]

In [6]:
ts = pd.Series(np.random.randn(6), index=dates)
ts

2011-01-02    1.931359
2011-01-05    0.412540
2011-01-07   -0.146072
2011-01-08   -0.031225
2011-01-10    0.184552
2011-01-12    0.840900
dtype: float64

In [7]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

arithmetic

In [8]:
ts + ts[::2]

2011-01-02    3.862717
2011-01-05         NaN
2011-01-07   -0.292144
2011-01-08         NaN
2011-01-10    0.369104
2011-01-12         NaN
dtype: float64

The datatype is from `numpy`'s `datetyme64` at the nanosecod resolution

In [9]:
ts.index.dtype

dtype('<M8[ns]')

Scalar values from a `DatetimeIndex` are pandas `Timestamp` objects

In [10]:
stamp = ts.index[0]
stamp

Timestamp('2011-01-02 00:00:00')

A `Timestamp` is a drop in replacement for `datetime` objects.

## Indexing, Selection, Subsetting

You can select with `Timestamps` or any `string` interpretable as a date/time.

In [11]:
stamp = ts.index[2]
ts[stamp]

-0.14607178895713219

In [12]:
ts['1/10/2011']

0.18455184531271415

In [13]:
ts['20110110']

0.18455184531271415

New example

In [14]:
longer_ts = pd.Series(
    np.random.randn(1000),
    index=pd.date_range('1/1/2000', periods=1000)
)

Just the year 2001

In [15]:
longer_ts['2001'][::31]

2001-01-01    0.378313
2001-02-01    0.654766
2001-03-04    1.523009
2001-04-04    1.940323
2001-05-05   -0.411710
2001-06-05   -1.259426
2001-07-06   -0.435514
2001-08-06    0.505099
2001-09-06   -0.742547
2001-10-07   -1.382449
2001-11-07    0.230667
2001-12-08    0.196027
Freq: 31D, dtype: float64

Just May of 2001

In [16]:
longer_ts['2001-05'][::3]

2001-05-01   -0.798296
2001-05-04   -1.323082
2001-05-07   -0.041701
2001-05-10    1.938093
2001-05-13    1.013014
2001-05-16   -1.432812
2001-05-19    0.240265
2001-05-22   -0.989963
2001-05-25    0.161246
2001-05-28    0.210061
2001-05-31   -0.941261
Freq: 3D, dtype: float64

Slicing works too

In [17]:
longer_ts['2001-05-03':'2001-06-14'][::3]

2001-05-03   -1.587099
2001-05-06    0.900960
2001-05-09   -0.347425
2001-05-12   -0.849080
2001-05-15   -0.304249
2001-05-18   -0.568897
2001-05-21    2.472563
2001-05-24    0.988672
2001-05-27   -0.443413
2001-05-30    1.912611
2001-06-02   -0.741288
2001-06-05   -1.259426
2001-06-08   -1.642252
2001-06-11   -0.045017
2001-06-14   -0.930795
Freq: 3D, dtype: float64

### Truncate

In [18]:
ts

2011-01-02    1.931359
2011-01-05    0.412540
2011-01-07   -0.146072
2011-01-08   -0.031225
2011-01-10    0.184552
2011-01-12    0.840900
dtype: float64

In [19]:
ts.truncate(after='1/9/2011')

2011-01-02    1.931359
2011-01-05    0.412540
2011-01-07   -0.146072
2011-01-08   -0.031225
dtype: float64

This all works on `DataFrames` as well

In [20]:
dates = pd.date_range('1/1/2000', periods=100, freq='W-WED')
dates[::8]

DatetimeIndex(['2000-01-05', '2000-03-01', '2000-04-26', '2000-06-21',
               '2000-08-16', '2000-10-11', '2000-12-06', '2001-01-31',
               '2001-03-28', '2001-05-23', '2001-07-18', '2001-09-12',
               '2001-11-07'],
              dtype='datetime64[ns]', freq='8W-WED')

In [21]:
long_df = pd.DataFrame(
    np.random.randn(100,4),
    index=dates,
    columns=['Colorado', 'Texas', 'New York', 'Ohio']
)

In [22]:
long_df.loc['5-2001']

            Colorado     Texas  New York      Ohio
2001-05-02  0.808860  1.940049 -0.604360  0.476212
2001-05-09 -1.830600 -0.926361 -1.065013  0.457045
2001-05-16 -0.477729  0.512348 -0.319162 -0.603821
2001-05-23 -0.957264 -1.251408  0.799277 -0.269689
2001-05-30 -1.081910 -2.152252  1.126416 -1.356247

## Duplicate Indices

In [23]:
days = [1, 2, 2, 2, 3]
dates = pd.DatetimeIndex([f'1/{d}/2000' for d in days])
dup_ts = pd.Series(np.arange(5), index=dates)
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int64

In [24]:
dup_ts.index.is_unique

False

In [25]:
dup_ts['1/3/2000']

4

In [26]:
dup_ts['1/2/2000']

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int64

Aggregate the non-unique data

In [27]:
grouped = dup_ts.groupby(level=0)

In [28]:
grouped.mean()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int64

In [29]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

## Date Ranges, Frequencies, and Shifting

In [30]:
ts

2011-01-02    1.931359
2011-01-05    0.412540
2011-01-07   -0.146072
2011-01-08   -0.031225
2011-01-10    0.184552
2011-01-12    0.840900
dtype: float64

In [31]:
resampler = ts.resample('D')

In [32]:
resampler.size()

2011-01-02    1
2011-01-03    0
2011-01-04    0
2011-01-05    1
2011-01-06    0
2011-01-07    1
2011-01-08    1
2011-01-09    0
2011-01-10    1
2011-01-11    0
2011-01-12    1
Freq: D, dtype: int64

## Generating Date Ranges

In [33]:
index = pd.date_range('2012-04-01', '2012-06-01')
index[::8]

DatetimeIndex(['2012-04-01', '2012-04-09', '2012-04-17', '2012-04-25',
               '2012-05-03', '2012-05-11', '2012-05-19', '2012-05-27'],
              dtype='datetime64[ns]', freq='8D')

In [34]:
pd.date_range(end='2012-06-01', periods=20)

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [35]:
pd.date_range(start='2012-06-01', periods=20)

DatetimeIndex(['2012-06-01', '2012-06-02', '2012-06-03', '2012-06-04',
               '2012-06-05', '2012-06-06', '2012-06-07', '2012-06-08',
               '2012-06-09', '2012-06-10', '2012-06-11', '2012-06-12',
               '2012-06-13', '2012-06-14', '2012-06-15', '2012-06-16',
               '2012-06-17', '2012-06-18', '2012-06-19', '2012-06-20'],
              dtype='datetime64[ns]', freq='D')

First business day of each month in 2018

In [36]:
pd.date_range(start='1/1/2018', periods=12, freq='BMS')

DatetimeIndex(['2018-01-01', '2018-02-01', '2018-03-01', '2018-04-02',
               '2018-05-01', '2018-06-01', '2018-07-02', '2018-08-01',
               '2018-09-03', '2018-10-01', '2018-11-01', '2018-12-03'],
              dtype='datetime64[ns]', freq='BMS')

`date_range` preserves the time of a timestamp

In [37]:
pd.date_range('2012-04-02 12:56:31', periods=5)

DatetimeIndex(['2012-04-02 12:56:31', '2012-04-03 12:56:31',
               '2012-04-04 12:56:31', '2012-04-05 12:56:31',
               '2012-04-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

But sometimes you want to normalize

In [38]:
pd.date_range('2012-04-02 12:56:31', periods=5, normalize=True)

DatetimeIndex(['2012-04-02', '2012-04-03', '2012-04-04', '2012-04-05',
               '2012-04-06'],
              dtype='datetime64[ns]', freq='D')

## Frequencies and Date Offsets

In [39]:
from pandas.tseries.offsets import Hour, Minute

In [40]:
hour = Hour()
hour

In [41]:
Hour(4)

But you usually don't need to do that. Just use the string representation in the `freq` argument.

In [42]:
pd.date_range('1/1/2000', '1/3/2000', freq='4h')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00'],
              dtype='datetime64[ns]', freq='4H')

But if you must, you can do some arithmentic

In [43]:
Hour(2) + Minute(30)

In [44]:
pd.date_range('2000-01-01', periods=10, freq='1h30min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

Some frequencies are not evenly spaced

In [45]:
rng = pd.date_range('2012-01-01', '2012-09-01', freq='WOM-4THU')

In [46]:
list(rng)

[Timestamp('2012-01-26 00:00:00', freq='WOM-4THU'),
 Timestamp('2012-02-23 00:00:00', freq='WOM-4THU'),
 Timestamp('2012-03-22 00:00:00', freq='WOM-4THU'),
 Timestamp('2012-04-26 00:00:00', freq='WOM-4THU'),
 Timestamp('2012-05-24 00:00:00', freq='WOM-4THU'),
 Timestamp('2012-06-28 00:00:00', freq='WOM-4THU'),
 Timestamp('2012-07-26 00:00:00', freq='WOM-4THU'),
 Timestamp('2012-08-23 00:00:00', freq='WOM-4THU')]

## Shifting

In [47]:
ts = pd.Series(
    np.random.randn(4),
    index=pd.date_range('1/1/2000', periods=4, freq='M')
)
ts

2000-01-31   -1.163849
2000-02-29   -0.064162
2000-03-31    0.328379
2000-04-30    0.934238
Freq: M, dtype: float64

In [48]:
ts.shift(2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31   -1.163849
2000-04-30   -0.064162
Freq: M, dtype: float64

In [49]:
ts.shift(-2)

2000-01-31    0.328379
2000-02-29    0.934238
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

A common use is computing percent changes

In [50]:
ts / ts.shift(1) -1

2000-01-31         NaN
2000-02-29   -0.944871
2000-03-31   -6.117962
2000-04-30    1.844995
Freq: M, dtype: float64

But sometimes you don't want to discard the data. If the frequency is known, you can pass it to shift and you don't lose the data.

In [51]:
ts.shift(2, freq='M')

2000-03-31   -1.163849
2000-04-30   -0.064162
2000-05-31    0.328379
2000-06-30    0.934238
Freq: M, dtype: float64

You don't have to pass the original frequency. Here we're shifting the data by three days.

In [52]:
ts.shift(3, freq='D')

2000-02-03   -1.163849
2000-03-03   -0.064162
2000-04-03    0.328379
2000-05-03    0.934238
dtype: float64

`T` is for minutes

In [53]:
ts.shift(1, freq='90T')

2000-01-31 01:30:00   -1.163849
2000-02-29 01:30:00   -0.064162
2000-03-31 01:30:00    0.328379
2000-04-30 01:30:00    0.934238
Freq: M, dtype: float64