In [1]:
import pandas as pd
import numpy as np

# Time Series

- *Fixed frequency*
- *Irregular*

## Available in `pandas`

- Timestamps
- Periods
- Intervals

## Standard library tools

- `datetime`
- `time`
- `calendar`

## `datetime`

In [2]:
from datetime import datetime
from datetime import timedelta

What's today?

In [3]:
now = datetime.now()
now

datetime.datetime(2018, 4, 3, 7, 42, 38, 844870)

In [4]:
now.year, now.month, now.day

(2018, 4, 3)

Some change

In [5]:
delta = datetime(2011,1,7) - datetime(2008,6,24,8,15)
delta

datetime.timedelta(926, 56700)

In [6]:
print(delta.days)
print(delta.seconds)

926
56700

Some more change

In [7]:
start = datetime(2011, 1, 7)
start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [8]:
start - 2 * timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

Time to strings

In [9]:
stamp = datetime(2011, 1, 3)
str(stamp)

'2011-01-03 00:00:00'

In [10]:
stamp.strftime('%Y-%m-%d')

'2011-01-03'

Strings to time

In [11]:
value = '2011-01-03'
datetime.strptime(value, '%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [12]:
datestrs = ['7/6/2011', '8/6/2011']
[datetime.strptime(x, '%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

## `dateutil`

In [13]:
from dateutil.parser import parse

Parse a string

In [14]:
parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [15]:
parse('Jan 31, 1997 10:45 PM')

datetime.datetime(1997, 1, 31, 22, 45)

## `pandas` dates and times

In [16]:
datestrs = ['2011-07-06 12:00:00', '2011-08-06 00:00:00']
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [17]:
idx = pd.to_datetime(datestrs + [None])
idx

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

In [18]:
pd.isnull(idx)

array([False, False,  True], dtype=bool)